@import "tailwindcss";

* {
  box-sizing: border-box;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-xl;
}

button:not(.custom) {
  @apply cursor-pointer duration-200 hover:brightness-90;
}
